# See https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Code owners are automatically requested for review on PRs that modify matching paths.
# Global default owner for all files in this repo:
* @Marcus-Murray
