# Node / JS
node_modules/
.npm/
.pnp/
.pnp.cjs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
build/
dist/
coverage/
.out/
.next/
.expo/
.expo-shared/

# OS / IDE
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.iml

# Env
.env*
!.env.example

# Logs
logs/
*.log

# Misc
.tmp/
.cache/
